extends ../layout-website-redesign

block vars
	- isWebsiteRedesign = true

block content
	main#main-content.content
		.container
			.row
				.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
					.page-header
						h1 !{login_heading}
						if login_hint
							p.text-muted.mb-0 !{login_hint}
					if showLoginSwitcher
						.d-flex.justify-content-center.mb-4.gap-2
							a.btn.btn-ds(class=selectedLoginStrategy === 'ldap' ? 'btn-primary' : 'btn-secondary', href=ldapLoginHref) #{ldapLoginLabel}
							a.btn.btn-ds(class=selectedLoginStrategy === 'local' ? 'btn-primary' : 'btn-secondary', href=externalLoginHref) #{externalLoginLabel}
					form(name='loginForm' data-ol-async-form action=loginAction method='POST')
						input(name='_csrf' type='hidden' value=csrfToken)
						if selectedLoginStrategy
							input(name='login_strategy' type='hidden' value=selectedLoginStrategy)
						+formMessagesNewStyle
						if showPasswordReset
							+customFormMessageNewStyle('invalid-password-retry-or-reset', 'danger')
								| !{translate('email_or_password_wrong_try_again_or_reset', {}, [{ name: 'a', attrs: { href: '/user/password/reset', 'aria-describedby': 'resetPasswordDescription' } }])}
								span.visually-hidden(id='resetPasswordDescription')
									| #{translate('reset_password_link')}
						+customFormMessageNewStyle('password-compromised')
							| !{translate('password_compromised_try_again_or_use_known_device_or_reset', {}, [{name: 'a', attrs: {href: 'https://haveibeenpwned.com/passwords', rel: 'noopener noreferrer', target: '_blank'}}, {name: 'a', attrs: {href: '/user/password/reset', target: '_blank'}}])}.
						.form-group
							label(for=loginFieldName) #{loginFieldLabel}
							input.form-control(
								id=loginFieldName
								name=loginFieldName
								type=loginFieldType
								required
								autofocus='true'
								autocomplete=loginFieldAutocomplete
							)
						.form-group
							label(for='password') #{translate("password")}
							input#password.form-control(
								name='password'
								type='password'
								autocomplete='current-password'
								required
							)
						.actions
							button.btn-primary.btn(type='submit' data-ol-disabled-inflight)
								span(data-ol-inflight='idle') #{translate("login")}
								span(hidden data-ol-inflight='pending') #{translate("logging_in")}…
							if showPasswordReset
								a.float-end(href='/user/password/reset') #{translate("forgot_your_password")}?
						if login_support_text
							hr
							p.text-center !{login_support_text}
